<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <p>Tell us about your puppy</p>
      <input type="text" id="name">
      <input type="text" id="breed">
      <input type="text" id="age>">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
